.page-header {
    color: $text_heading;
    text-align: center;
    background-color: $background;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(120deg, $background, $background_fade)
}

.heading_text {
    margin-top: 0;
    padding: 1.4rem 0;
}




