@media screen and (max-width: 400px) {
    .page {
        flex-direction: column;
    }

    .game_container, .score_board {
        flex: 0.5;
    }

    .title{
        font-size: 30px;
    }

    .score_box{
        font-size: 23px;
    }

    .spin_btn_txt {
        font-size: 20px;
    }
    
    .creator{
        font-size: 14px;
    }

    .score_box{
        top: 130px;
    }

    .spin_btn {
        top: 210px;
    }
}